@import url("fonts.css");

:root{
    --verde-agua: #188A8D;
    --verde-clarinho: #60DD8E;
    --azul-escuro: #064273;
    --verde-musgo: #3F9F7F;
    --azul-escuro2: #17577E;
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    scrollbar-width: none;
}