.titulo{
    font-size: 50px;
    font-weight: 100;

    @media screen and (max-width: 750px){
        font-size: 32px;
    }
}

.tech{
    row-gap: 20px;
}

.video{
    width: 100%;
    height: 50%;

@media screen and (max-width:750px) {
        height: 100%;
    }
}

.conteudo-respTech{
    @media screen and (max-width: 750px){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 50px;

    };
}

.esquerda-respTech{
    width: 50%;
    @media screen and (max-width: 750px) {
        width: 100%;
        row-gap: 10px;
        align-items: center;
    }
}

.direita-respTech{
    width: 50%;

    @media screen and (max-width: 750px) {
        width: 80%;
        row-gap: 10px;
    }
}